body{
  margin: 0px 0px;
}

header{
  height: 100px;
  background-color: rgb(63, 62, 62);
}

nav{
  width: 960px;
  margin: auto;
}

header img{
  margin: 16px;
  margin-left: 0px;
  float: left;
}

header span{
  display: inline-block;
  line-height: 100px;
  margin-left: 90px;
}

header span:nth-child(2){
  margin-left: 30px;
}

nav a{
  text-decoration: none;
  color: grey;
}

main{
  width: 960px;
  margin: auto;
}

main a>img{
  margin-top: 30px;
}

main ul {
  padding: 0px;
  margin: auto;
  list-style-type: none;
  margin-top: 30px;
}

ul li:first-child{
  float: left;
  margin-left: 0px;
}

ul li{
  float: left;
  margin-left: 30px;
}

main section{
  width: 960px;
  margin: 30px auto;
}

section img{
  width: 480px;
  margin: 30px auto;
  float: left;
}

section article{
  width: 450px;
  margin-left: 30px;
  margin-top: 30px;
  float: left;
}

article h2{
  margin: 0px;
}
article p{
  height: 330px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.4em;
  font-style: italic;
  overflow-y: auto;
  scroll-behavior: smooth;
}

div{
  display: inline-block;
  height: 30px;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
  background-color: black;
  border-radius: 10%;
}

div>h2{
  color: white;
  font-size: 16px;
  margin: 0px;
  padding: 5px 5px;
  text-align: center;
  vertical-align: middle;
  ;
}

div h2:hover{
  transition: 350ms;
  color: rgb(233, 104, 233);
}

footer{
  margin-top: 10px;
  margin-left: 30px;
  height: 130px;
  background-color: rgb(63, 62, 62);
  clear: both;
  position: relative;
}

/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */